/*
 * Name: Lake Peterson
 * Email: peterlak@oregonstate.edu
 */

body
{
  background-color: #FFFFFF;
  margin: 0;
  width: 0 auto;
  font-family: 'Roboto Slab', serif;
}

header
{
  height: 150px;
  background-color: #000;
  border: 10px solid #000;
}

.header-image-container
{
  float: left;
  margin-right: 20px;
}

.site-title
{
  font-size: 75px;
  font-weight: 100;
}

.site-title a:link
{
  color: #FFFFFF;
  text-decoration: none;
}

.site-title a:visited
{
  color: #FFFFFF;
  text-decoration: none;
}

.site-title a:hover
{
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

.site-title a:active
{
  color: #FFFFFF;
  text-decoration: none;
}

#results
{
  display: flex;
  flex-wrap: wrap;
}

#results .result
{
  width: 335px;
  height: 300px;
  margin: 5px;
  padding: 5px;
  border: 1px solid #D3D3D3;
  border-radius: 2px;
  background-color: #FFFFFF;
}

#results img
{
  max-width: 310px;
  max-height: 270px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 3px;
}

.filter-container
{
  float: left;
  width: 225px;
  height: 410px;
  margin: 5px;
  padding: 5px;
  border: 1px solid #D3D3D3;
  border-radius: 2px;
  background-color: #EFEFEF;
}

#filter-update-button
{
  background-color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 10px 64px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 100;
  margin: 5px;
  position: relative;
  top: -65px;
  left: 11px;
}

#filter-update-button:hover
{
  background-color: #E37115;
  color: #000;
  font-weight: 100;
  cursor: pointer;
}

#filter-update-button:active
{
  background-color: #E37115;
  color: #000;
  font-weight: 100;
}

.filter-input-container
{
  margin: 15px;
}

#sell-something-button
{
  height: 60px;
  width: 60px;
  background-color: #E37115;
  border: 1px solid #E37115;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 30px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
  position: fixed;
  bottom: 50px;
  right: 50px;
}

#sell-something-button:hover
{
  height: 80px;
  width: 80px;
  font-size: 45px;
  position: fixed;
  bottom: 35px;
  right: 35px;
  cursor: pointer;
}

.result .result-price
{
  background-color: #EFEFEF;
  border: 1px solid #D3D3D3;
  border-radius: 1px;
  color: #000;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
}

.result .result-info-container
{
  padding-top: 20px;
  padding-left: 13px;
  padding-right: 13px;
}

.result-info-container a:link
{
  color: #E37115;
  text-decoration: none;
}

.result-info-container a:visited
{
  color: #E37115;
  text-decoration: none;
}

.result-info-container a:hover
{
  color: #E37115;
  text-decoration: underline;
}

.result-info-container a:active
{
  color: #E37115;
  text-decoration: none;
}

.filter-container h2
{
  position: relative;
  left: 16px;
  font-family: 'Roboto';
  font-weight: 400;
}

label[for=filter-text]
{
  position: relative;
  top: 2px;
  float: left;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 400;
}

#filter-text
{
  position: relative;
  left: 13px;
}

label[for=filter-min-price]
{
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 400;
}

#filter-min-price
{
  position: relative;
  top: -21px;
  left: 50px;
  width: 57px;
}

#filter-max-price
{
  position: relative;
  top: -45px;
  left: 128px;
  width: 57px;
}

label[for=filter-city]
{
  font-size: 16px;
  position: relative;
  top: -47px;
  font-family: 'Roboto';
  font-weight: 400;
}

#filter-city
{
  position: relative;
  top: -69px;
  left: 40px;
  width: 152px;
}

#filter-condition
{
  position: relative;
  top: -68px;
  font-family: 'Roboto';
  font-weight: 400;
}
